# ============================================================================
# Interswitch API Settings
# ============================================================================
INTERSWITCH_AUTH_URL=INTERSWITCH_AUTH_URL
INTERSWITCH_CLIENT_ID=INTERSWITCH_CLIENT_ID 
INTERSWITCH_CLIENT_SECRET=INTERSWITCH_CLIENT_SECRET
INTERSWITCH_VERIFY_PASSPORT_URL=INTERSWITCH_VERIFY_PASSPORT_URL


# ============================================================================
# Django Settings
# ============================================================================
DEBUG=False
SECRET_KEY=SECRET_KEY